<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{% seo %}
{%- unless page.image %}
<meta property="og:image" content="{{ '/assets/img/og-default.png' | absolute_url }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:image" content="{{ '/assets/img/og-default.png' | absolute_url }}">
{%- endunless %}
{% include head-common.html %}
</head>
<body class="page-sub">
{% include site-header.html cta="column-header" %}
<main>
{{ content }}
</main>
{% include site-footer.html %}
</body>
</html>
